<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./layouts.css">
    <title>Layout 01</title>
</head>
<body>
    
    <nav class="navbar">
        <div class="logo">Manu do site</div>

        <h1 class="titulo">Título do site</h1>
        <ul class="nav-links">
            <li class="item-lista">Início</li>
            <li class="item-lista">Sobre</li>
            <li class="item-lista">Serviços</li>
            <li class="item-lista">Contato</li>
        </ul>
        
    </nav>

    <div class="centralizar">
        <div class="conteudo1"></div>
    </div>

    <div class="centralizar">
        <div class="conteudo2">
            <div class="caixa">Item 1</div>
            <div class="caixa">Item 2</div>
            <div class="caixa">Item 3</div>
        </div>
    </div>

</body>
</html>